@font-face {
  font-family: 'Proxima';
  src: url("../font/ProximaNova-Regular.otf") format("opentype");
  src: url("../font/ProximaNova-Bold.otf") format("opentype");
}

.header-menu, .res-menu {
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
  /* HTML5 display-role reset for older browsers */
}

.header-menu html, .header-menu body, .header-menu div, .header-menu span, .header-menu applet, .header-menu object, .header-menu iframe,
.header-menu h1, .header-menu h2, .header-menu h3, .header-menu h4, .header-menu h5, .header-menu h6, .header-menu p, .header-menu blockquote, .header-menu pre,
.header-menu a, .header-menu abbr, .header-menu acronym, .header-menu address, .header-menu big, .header-menu cite, .header-menu code,
.header-menu del, .header-menu dfn, .header-menu em, .header-menu img, .header-menu ins, .header-menu kbd, .header-menu q, .header-menu s, .header-menu samp,
.header-menu small, .header-menu strike, .header-menu strong, .header-menu sub, .header-menu sup, .header-menu tt, .header-menu var,
.header-menu b, .header-menu u, .header-menu i, .header-menu center,
.header-menu dl, .header-menu dt, .header-menu dd, .header-menu ol, .header-menu ul, .header-menu li,
.header-menu fieldset, .header-menu form, .header-menu label, .header-menu legend,
.header-menu table, .header-menu caption, .header-menu tbody, .header-menu tfoot, .header-menu thead, .header-menu tr, .header-menu th, .header-menu td,
.header-menu article, .header-menu aside, .header-menu canvas, .header-menu details, .header-menu embed,
.header-menu figure, .header-menu figcaption, .header-menu footer, .header-menu header, .header-menu hgroup,
.header-menu menu, .header-menu nav, .header-menu output, .header-menu ruby, .header-menu section, .header-menu summary,
.header-menu time, .header-menu mark, .header-menu audio, .header-menu video, .res-menu html, .res-menu body, .res-menu div, .res-menu span, .res-menu applet, .res-menu object, .res-menu iframe,
.res-menu h1, .res-menu h2, .res-menu h3, .res-menu h4, .res-menu h5, .res-menu h6, .res-menu p, .res-menu blockquote, .res-menu pre,
.res-menu a, .res-menu abbr, .res-menu acronym, .res-menu address, .res-menu big, .res-menu cite, .res-menu code,
.res-menu del, .res-menu dfn, .res-menu em, .res-menu img, .res-menu ins, .res-menu kbd, .res-menu q, .res-menu s, .res-menu samp,
.res-menu small, .res-menu strike, .res-menu strong, .res-menu sub, .res-menu sup, .res-menu tt, .res-menu var,
.res-menu b, .res-menu u, .res-menu i, .res-menu center,
.res-menu dl, .res-menu dt, .res-menu dd, .res-menu ol, .res-menu ul, .res-menu li,
.res-menu fieldset, .res-menu form, .res-menu label, .res-menu legend,
.res-menu table, .res-menu caption, .res-menu tbody, .res-menu tfoot, .res-menu thead, .res-menu tr, .res-menu th, .res-menu td,
.res-menu article, .res-menu aside, .res-menu canvas, .res-menu details, .res-menu embed,
.res-menu figure, .res-menu figcaption, .res-menu footer, .res-menu header, .res-menu hgroup,
.res-menu menu, .res-menu nav, .res-menu output, .res-menu ruby, .res-menu section, .res-menu summary,
.res-menu time, .res-menu mark, .res-menu audio, .res-menu video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.header-menu article, .header-menu aside, .header-menu details, .header-menu figcaption, .header-menu figure,
.header-menu footer, .header-menu header, .header-menu hgroup, .header-menu menu, .header-menu nav, .header-menu section, .res-menu article, .res-menu aside, .res-menu details, .res-menu figcaption, .res-menu figure,
.res-menu footer, .res-menu header, .res-menu hgroup, .res-menu menu, .res-menu nav, .res-menu section {
  display: block;
}

.header-menu body, .res-menu body {
  line-height: 1;
  position: relative;
}

.header-menu ol, .header-menu ul, .res-menu ol, .res-menu ul {
  list-style: none;
}

.header-menu blockquote, .header-menu q, .res-menu blockquote, .res-menu q {
  quotes: none;
}

.header-menu blockquote:before, .header-menu blockquote:after,
.header-menu q:before, .header-menu q:after, .res-menu blockquote:before, .res-menu blockquote:after,
.res-menu q:before, .res-menu q:after {
  content: '';
  content: none;
}

.header-menu table, .res-menu table {
  border-collapse: collapse;
  border-spacing: 0;
}

.blacked {
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 33;
  height: 100%;
}

@media screen and (min-width: 1227px) {
  .header-container {
    width: 100%;
    margin: 0 auto;
  }
  .positionFixedMenu {
    position: fixed;
    height: 60px;
    background: rgba(255, 255, 255, 0.95);
    margin: 0 auto;
    width: 100%;
  }
  .positionFixedMenuInner {
    height: 60px !important;
  }
  .positionFixedMenu ul li:not(:last-of-type) a:before, .positionFixedMenu ul li:not(:last-of-type) a:after {
    bottom: 0px !important;
  }
  .positionFixedMenu .header-logo {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s;
    transition: opacity 1s ease, -webkit-transform 1s;
    transition: opacity 1s ease, transform 1s;
    transition: opacity 1s ease, transform 1s, -webkit-transform 1s;
  }
  .header-menu {
    max-width: 1500px;
    padding: 0 70px;
    margin: 0 auto;
  }
  .header-menu-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 135px;
  }
  .header-menu-inner ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-menu-inner li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0px 18px;
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: 0.6px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    font-family: 'Proxima';
  }
  .header-menu-inner .header-logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header-menu-inner ul li:not(:last-of-type) a {
    position: relative;
    text-transform: uppercase;
  }
  .header-menu-inner ul li:not(:last-of-type) a:before, .header-menu-inner ul li:not(:last-of-type) a:after {
    content: '';
    position: absolute;
    bottom: 50px;
    left: 18;
    right: 18;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 0;
  }
  .header-menu-inner ul li:not(:last-of-type) a:hover:before, .header-menu-inner ul li:not(:last-of-type) a:hover:after, .header-menu-inner ul li:not(:last-of-type) a:focus:before, .header-menu-inner ul li:not(:last-of-type) a:focus:after {
    width: calc(100% - 36px);
    -webkit-transition: width 0.2s, opacity 0.5s, background 0.3s, -webkit-transform 0.6s;
    transition: width 0.2s, opacity 0.5s, background 0.3s, -webkit-transform 0.6s;
    transition: width 0.2s, opacity 0.5s, background 0.3s, transform 0.6s;
    transition: width 0.2s, opacity 0.5s, background 0.3s, transform 0.6s, -webkit-transform 0.6s;
  }
  .header-menu-inner ul li svg {
    height: 21px;
    fill: black;
    position: relative;
  }
  .header-menu-inner ul .wishlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-menu-inner ul .wishlist a {
    font-weight: 700;
    text-transform: none;
    color: white;
    background: black;
    font-size: 17px;
    height: 49px;
  }
  .header-menu-inner ul .wishlist a svg {
    fill: white;
    margin-left: 20px;
    width: 16px;
  }
  .header-menu-inner ul .wishlist a:hover {
    color: black;
    background: white;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  }
  .header-menu-inner ul .wishlist a:hover svg {
    fill: black;
    width: 16px;
  }
  .burger {
    display: none;
  }
  .res-menu {
    display: none;
  }
}

@media screen and (max-width: 1226px) {
  body {
    position: relative;
    overflow-x: hidden;
  }
  .header-menu {
    width: 100%;
    margin: 0 auto;
    padding: 0px 0px 0px 6%;
  }
  .header-menu-inner ul .wishlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 35px;
  }
  .header-menu-inner ul .wishlist > a {
    font-weight: 700;
    text-transform: none;
    color: white;
    background: black;
    font-size: 17px;
    height: 49px;
  }
  .header-menu-inner ul .wishlist > a svg {
    fill: white;
    margin-left: 20px;
    width: 16px;
  }
  .header-menu-inner ul .wishlist > a:hover {
    color: black;
    background: white;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  }
  .header-menu-inner ul .wishlist > a:hover svg {
    fill: black;
    width: 16px;
  }
  .header-menu-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 85px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-menu-inner ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-menu-inner .header-logo {
    height: inherit;
    position: absolute;
    left: 8%;
  }
  .header-menu-inner ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-menu-inner ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0px 18px;
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: 0.6px;
    text-decoration: none;
    font-family: 'Proxima';
  }
  .header-menu-inner ul li:not(:last-of-type) {
    display: none;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    height: 100%;
  }
  .burger .fix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85px;
  }
  .burger .fix .lines {
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
    position: fixed;
    background: white;
    z-index: 9002;
    width: 85px;
    padding: 28px;
  }
  .burger .fix .lines div {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 3px;
    background: black;
    width: 16px;
    margin: 5px auto;
  }
  .burger .fix .lines div:nth-of-type(3) {
    width: 10px;
    position: relative;
    left: 3px;
  }
  .burger h5 {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: 'Proxima';
  }
  .res-menu {
    position: fixed;
    right: 0;
    width: 360px;
    height: 100vh;
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(calc(100% + 1px)) translateY(-85px);
            transform: translateX(calc(100% + 1px)) translateY(-85px);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    z-index: 9001;
  }
  .res-menu ul {
    width: 100%;
    padding-left: 30px;
    padding-right: 50px;
  }
  .res-menu ul li {
    opacity: 0;
    height: 58px;
  }
  .res-menu ul li a {
    position: absolute;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-size: 11.5px;
    font-family: 'Proxima', sans-serif;
    line-height: 1.5;
    font-weight: 700;
    padding: 20px 0;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .res-menu ul li a:hover {
    text-decoration: underline;
  }
  .res-menu ul li:nth-of-type(6) a {
    border-bottom: 0px;
  }
  .res-menu ul li:not(:first-of-type):not(:last-of-type) a:after {
    content: "";
    position: absolute;
    background-image: url("../svg/fleche-droite.svg");
    height: 9px;
    width: 15px;
    opacity: 0.5;
    top: 24px;
    right: 2px;
    -webkit-filter: invert(100%) sepia(14%) saturate(2%) hue-rotate(60deg) brightness(103%) contrast(101%);
            filter: invert(100%) sepia(14%) saturate(2%) hue-rotate(60deg) brightness(103%) contrast(101%);
  }
  .res-menu ul li:first-of-type {
    height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
  }
  .res-menu ul li:first-of-type a {
    background: black;
    height: 85px;
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: none;
  }
  .res-menu ul li:first-of-type svg {
    width: 20px;
    height: 20px;
    fill: white;
  }
  .res-menu ul li:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px 0;
  }
  .res-menu ul li:last-of-type a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 18px;
    width: initial;
    letter-spacing: 0.6px;
    border-bottom: 0px;
    line-height: 100%;
    font-weight: 700;
    text-transform: none;
    color: black;
    background: white;
    font-size: 14px;
    height: 48px;
  }
  .res-menu ul li:last-of-type a svg {
    fill: black;
    margin-left: 20px;
    width: 16px;
  }
  .res-menu ul li:last-of-type a:hover {
    text-decoration: none;
    color: white;
    background: black;
    border: 1px rgba(136, 136, 136, 0.582) solid;
  }
  .res-menu ul li:last-of-type a:hover svg {
    fill: white;
    width: 16px;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    position: fixed;
    -webkit-transform: translateY(-85px);
            transform: translateY(-85px);
  }
  @-webkit-keyframes fading {
    from {
      opacity: 0;
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes fading {
    from {
      opacity: 0;
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @-webkit-keyframes slidingNorth {
    from {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    to {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slidingNorth {
    from {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    to {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  .toggle .fix .line1 {
    -webkit-transform: rotate(-45deg) translate(-3.2px, 6px);
            transform: rotate(-45deg) translate(-3.2px, 6px);
  }
  .toggle .fix .line2 {
    opacity: 0;
  }
  .toggle .fix .line3 {
    -webkit-transform: rotate(45deg) translate(-7px, -6px) scalex(1.625);
            transform: rotate(45deg) translate(-7px, -6px) scalex(1.625);
  }
  .toggle .fix .lines {
    background: black;
  }
  .toggle .fix .lines div {
    background: white;
  }
}
/*# sourceMappingURL=main_jf.css.map */