@font-face {
  font-family: "Proxima Nova";
  src: url("Proxima Nova Alt Thin.otf") format("otf");
}

#get_projets_archi h1 {
  background-color: black;
  color: white;
  font-size: 40px;
  font-weight: 300;
  padding: 165px 0 400px 107px;
}

#get_projets_archi div.row {
  height: 300px;
  position: relative;
}

#get_projets_archi div.row div.col {
  padding: 0;
  position: absolute;
  top: -300px;
}

#get_projets_archi div.row div.col div.carousel {
  margin-bottom: 30px;
}

#get_projets_archi div.row div.col div.carousel ul .carousel-item {
  width: 100%;
  height: 100%;
}

#get_projets_archi div.row div.col div.carousel ul .carousel-item img {
  width: 100%;
}

#get_projets_archi div.row div.col div.carousel ul .carousel-item a {
  background-color: white;
  padding: 10px 25px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline;
}

#get_projets_archi div.row div.col div.carousel ul .carousel-item a p {
  display: inline-block;
  padding: 0 20px;
  color: black;
  font-size: 18px;
}

#get_projets_archi div.row div.col div.carousel ul .carousel-item a p:first-child {
  border-right: 1px solid black;
  font-weight: 400;
}

#get_projets_archi div.row div.col div.carousel ul .carousel-item a p:last-child {
  font-weight: 700;
}

#get_projets_archi div.row div.col div.carousel ul .indicator-item {
  width: 25px;
  height: 25px;
  background-color: #000000b2;
}

#get_projets_archi div.row div.col div.carousel ul .indicator-item:hover {
  background-color: rgba(255, 255, 255, 0.746);
}

#get_projets_archi div.row div.col div.carousel ul.indicators {
  width: 100px;
  position: absolute;
  bottom: 69px;
  left: 45%;
  height: 50px;
}

@media only screen and (max-width: 992px) {
  #get_projets_archi h1 {
    font-size: 30px;
    padding: 165px 0 400px 107px;
  }
}

@media only screen and (max-width: 601px) {
  #get_projets_archi h1 {
    font-size: 25px;
    line-height: 1.2;
    padding: 8% 50px 50px 8%;
    margin: 0;
  }
  #get_projets_archi div.row {
    position: relative;
  }
  #get_projets_archi div.row div.col {
    position: initial;
  }
  #get_projets_archi div.row div.col div.carousel {
    margin-bottom: 30px;
  }
  #get_projets_archi div.row div.col div.carousel ul .carousel-item {
    width: 100%;
    height: 100%;
  }
  #get_projets_archi div.row div.col div.carousel ul .carousel-item img {
    width: 100%;
  }
  #get_projets_archi div.row div.col div.carousel ul .carousel-item a {
    background-color: white;
    padding: 10px 25px;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: inline;
  }
  #get_projets_archi div.row div.col div.carousel ul .carousel-item a p {
    display: inline-block;
    padding: 0 10px;
    font-size: 10px;
  }
  #get_projets_archi div.row div.col div.carousel ul .carousel-item a p:first-child {
    border-right: 1px solid black;
    font-weight: 400;
  }
  #get_projets_archi div.row div.col div.carousel ul .carousel-item a p:last-child {
    font-weight: 700;
  }
  #get_projets_archi div.row div.col div.carousel ul .indicator-item {
    width: 25px;
    height: 25px;
    background-color: #000000b2;
  }
  #get_projets_archi div.row div.col div.carousel ul .indicator-item:hover {
    background-color: rgba(255, 255, 255, 0.746);
  }
  #get_projets_archi div.row div.col div.carousel ul.indicators {
    width: 100px;
    position: absolute;
    bottom: 14px;
    left: 45%;
    height: 50px;
  }
}

#archidinterieur,
#a_propos {
  padding-bottom: 50px;
}

#archidinterieur .title,
#a_propos .title {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 35px 0;
}

#archidinterieur .sous-title,
#a_propos .sous-title {
  font-family: "Proxima Nova", "sans-serif";
  font-size: 16px;
  font-weight: 500;
}

#archidinterieur p,
#a_propos p {
  font-family: "Proxima Nova", "sans-serif";
  font-size: 16px;
  line-height: 1.65;
  font-weight: 300;
  letter-spacing: 0.3px;
  word-spacing: 0.5px;
}

#archidinterieur .col-left1,
#a_propos .col-left1 {
  padding: 0 70px;
}

#archidinterieur .col-left1 .sous-title,
#a_propos .col-left1 .sous-title {
  margin-bottom: 65px;
}

#archidinterieur .col-left1 p,
#a_propos .col-left1 p {
  line-height: 2;
}

#archidinterieur .col-right1,
#a_propos .col-right1 {
  color: white;
  padding: 150px 5% 150px 10%;
}

#archidinterieur .col-left2,
#a_propos .col-left2 {
  padding: 0;
  height: 900px;
  padding-left: 70px;
}

#archidinterieur .col-left2 img,
#a_propos .col-left2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#archidinterieur .col-right2,
#a_propos .col-right2 {
  padding: 120px 12% 40px 12%;
}

#archidinterieur .col-right2 .sous-title,
#a_propos .col-right2 .sous-title {
  margin-bottom: 65px;
}

#archidinterieur .col-right2 p,
#a_propos .col-right2 p {
  line-height: 2;
  margin-bottom: 20px;
}

@media only screen and (max-width: 992px) {
  #archidinterieur .col-left2,
  #a_propos .col-left2 {
    padding: 40px 0 0;
    height: 450px;
  }
  #archidinterieur .col-left2 img,
  #a_propos .col-left2 img {
    width: 100%;
    height: 100%;
    -o-object-position: 100% 8%;
       object-position: 100% 8%;
  }
}

@media only screen and (max-width: 601px) {
  #archidinterieur .col-right1,
  #a_propos .col-right1 {
    padding: 50px 0 70px 15%;
    font-size: 13px;
  }
  #archidinterieur .col-left2,
  #a_propos .col-left2 {
    padding: 0;
    height: 250px;
  }
  #archidinterieur .col-left2 img,
  #a_propos .col-left2 img {
    width: 100%;
    height: 100%;
    -o-object-position: 100% 8%;
       object-position: 100% 8%;
  }
}

#archidinterieur .content .col-left1 p:last-child {
  font-weight: bold;
  margin-top: 35px;
}

#archidinterieur .content .col-right1 ul li:first-child {
  font-weight: 500;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 35px;
  margin-left: 0;
}

#archidinterieur .content .col-right1 ul li {
  list-style-type: disc;
  padding-left: 60px;
  margin-left: 16px;
  margin-bottom: 16px;
  letter-spacing: 1.2px;
  font-weight: 300;
}

#archidinterieur .tissus div div {
  margin-bottom: 30px;
}

#archidinterieur .tissus div div ul .carousel-item {
  width: 100%;
}

#archidinterieur .tissus div div ul .carousel-item img {
  width: 100%;
}

#archidinterieur .tissus div div ul .indicator-item {
  width: 25px;
  height: 25px;
  background-color: #000000b2;
}

#archidinterieur .tissus div div ul .indicator-item:hover {
  background-color: rgba(255, 255, 255, 0.746);
}

#archidinterieur .tissus div .sous-title {
  margin-bottom: 25px;
}

#archidinterieur .tissus div .col-left3 {
  padding: 0 3% 0 0;
}

#archidinterieur .tissus div .col-left3 p {
  line-height: 2;
  letter-spacing: 1.2px;
}

#archidinterieur .tissus div .col-right3 {
  padding: 0 3% 0 0;
}

#archidinterieur .tissus div .col-right3 ul li:first-child {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

#archidinterieur .tissus div .col-right3 ul li {
  font-size: 16px;
  font-weight: 300;
  color: black;
  line-height: 2;
  list-style-type: disc;
  margin-left: 18px;
}

#banner-content div {
  position: relative;
}

#banner-content div img {
  width: 100%;
  height: 525px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 601px) {
  #banner-content div img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

#banner-content div a {
  color: black;
  display: inline-block;
  background: rgba(255, 255, 255, 0.952);
  padding: 60px 10% 60px 5%;
  text-align: left;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 84px;
}

#banner-content div a h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

#banner-content div a div {
  font-size: 18px;
  font-weight: 700;
}

#banner-content div a div img {
  width: 5%;
  height: auto;
  padding-left: 15px;
}

@media only screen and (max-width: 992px) {
  #banner-content div a {
    padding: 55px 8%;
    position: absolute;
    top: 100%;
  }
  #banner-content div a h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 601px) {
  #banner-content div a {
    padding: 30px 8%;
    position: initial;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  #banner-content div a h2 {
    font-size: 23px;
    margin-bottom: 0;
  }
  #banner-content div a div {
    font-size: 13px;
    padding-top: 10px;
  }
}

#a_propos .col-right1 ul li {
  letter-spacing: 1.2px;
  font-weight: 300;
}

#a_propos .col-right1 ul li p {
  display: inline-block;
  padding-left: 40px;
}

@media only screen and (max-width: 992px) {
  #a_propos .col-left2 img {
    -o-object-position: 100% 50%;
       object-position: 100% 50%;
  }
}

@media only screen and (max-width: 601px) {
  #a_propos .col-left2 img {
    -o-object-position: 100% 50%;
       object-position: 100% 50%;
  }
}

#accueil h2.title {
  font-size: 27px;
  font-weight: 700;
}

#accueil .lien {
  font-size: 18px;
  font-weight: 700;
  color: black;
  padding: 20px 0;
}

#accueil .lien:hover {
  text-decoration: underline;
}

#accueil .svg {
  padding: 0 20px;
}

#accueil #bandeau {
  margin-bottom: 300px;
}

#accueil #bandeau div.col {
  padding: 0;
  height: 550px;
  position: relative;
}

#accueil #bandeau div.col img.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#accueil #bandeau div.col .content {
  position: absolute;
  bottom: 0;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 80%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#accueil #bandeau div.col .content div {
  padding: 0 8%;
  position: relative;
}

#accueil #bandeau div.col .content div .title {
  font-size: 24px;
  font-weight: 300;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 66px 0;
}

#accueil #bandeau div.col .content div .title_hover {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
  padding-top: 50px;
}

#accueil #bandeau div.col .content div .texte_hover {
  font-weight: 300;
  line-height: 1.8;
}

#accueil #bandeau div.col .content div .svg {
  width: 50px;
  height: 50px;
  padding: 18px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

#accueil #bandeau div.col .content div .lien_hover {
  padding: 20px 0;
}

#accueil #bandeau div.col .content div .svg_hover {
  padding: 0 20px;
}

#accueil #bandeau div.col .content div .title_hover,
#accueil #bandeau div.col .content div .texte_hover,
#accueil #bandeau div.col .content div .lien_hover {
  display: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#accueil #bandeau div.col .content .content-link:hover .title_hover,
#accueil #bandeau div.col .content .content-link:hover .texte_hover,
#accueil #bandeau div.col .content .content-link:hover .lien_hover {
  display: block;
}

#accueil #bandeau div.col .content .content-link:hover .lien_hover {
  text-decoration: underline;
}

#accueil #bandeau div.col .content .content-link:hover .title {
  display: none;
}

#accueil #bandeau div.col .content:hover {
  -webkit-transform: translate(50%, 40%);
          transform: translate(50%, 40%);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#accueil #bandeau div.col .content-left1 .content-link {
  color: black;
}

#accueil #bandeau div.col .content-left1 .lien_hover {
  color: black;
}

#accueil #bandeau div.col .content-left1 div {
  background-color: white;
}

#accueil #bandeau div.col .content-left1 div .svg-left {
  -webkit-filter: invert(100%) sepia(61%) saturate(2%) hue-rotate(197deg) brightness(116%) contrast(100%);
          filter: invert(100%) sepia(61%) saturate(2%) hue-rotate(197deg) brightness(116%) contrast(100%);
  background: white;
}

#accueil #bandeau div.col .content-right1 .content-link {
  color: white;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#accueil #bandeau div.col .content-right1 .lien_hover {
  color: white;
}

#accueil #bandeau div.col .content-right1 div {
  background-color: black;
  color: white;
}

#accueil #bandeau div.col .content-right1 div .svg-right {
  background-color: white;
}

#accueil #bandeau div.col .content-right1 div .lien_hover .svg_hover {
  -webkit-filter: invert(100%) sepia(61%) saturate(2%) hue-rotate(197deg) brightness(116%) contrast(100%);
          filter: invert(100%) sepia(61%) saturate(2%) hue-rotate(197deg) brightness(116%) contrast(100%);
  background: white;
}

#accueil #introduction .col {
  padding: 0px;
}

#accueil #introduction .col .image {
  width: 100%;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
}

#accueil #introduction .col .title {
  margin-bottom: 30px;
  width: 85%;
}

#accueil #introduction .col .content-left {
  padding-left: 60px;
}

#accueil #introduction .col .content-left p {
  line-height: 2;
  font-size: 16px;
}

#accueil #introduction .col-left1 {
  padding-top: 80px;
}

#accueil #introduction .col-left1 .texte {
  background-color: black;
  color: white;
  padding: 40px;
  font-size: 27px;
  line-height: 1.5;
  padding: 120px 60px;
  margin: 0 0 65px;
}

#accueil #centre {
  padding: 100px 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #f6f6f6), color-stop(40%, white));
  background: linear-gradient(to right, #f6f6f6 40%, white 40%);
}

#accueil #centre .row {
  margin: 0;
}

#accueil #centre .wysiywyg {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2em;
}

#accueil #inferieur .col {
  padding: 0;
}

#accueil #inferieur .col .image {
  width: 100%;
}

#accueil #inferieur .col-right {
  padding: 0 70px;
}

@media only screen and (max-width: 992px) {
  #accueil #bandeau .content {
    width: 70% !important;
    text-align: center;
  }
  #accueil #bandeau .svg {
    position: absolute;
    top: 100% !important;
    right: 50% !important;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}

@media only screen and (max-width: 601px) {
  #accueil #bandeau {
    margin-bottom: 0px;
  }
  #accueil #bandeau .content {
    width: 70% !important;
    text-align: center;
    z-index: 1;
  }
  #accueil #bandeau .svg {
    position: absolute;
    top: 50% !important;
    right: 0% !important;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  #accueil #introduction .col-left1 {
    padding-top: 0;
  }
  #accueil #introduction .image {
    height: 350px !important;
  }
}
/*# sourceMappingURL=main_amaury.css.map */