@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@font-face {
    font-family: 'Proxima';
    // font-style: normal;
    // font-weight: normal;
    src: url('../font/ProximaNova-Regular.otf') format('opentype');
}
.header-menu{
    width: 70%;
    margin: 0 auto;
}
.header-menu-inner{
    display: flex;
    justify-content: space-between;
    // background: rgb(197, 197, 207);
    height: 135px;
    
    /* align-items: flex-end; */
}
.header-menu-inner ul{
    /* height: 100%; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* align-content: center; */
}

.header-menu-inner ul li a{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 18px;
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: 0.6px;
    font-family: "proxima_novaregular";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    font-family: 'Proxima';
    // background: red;
}

$brown: #584E4A;
$whitey: #f0f0f0;

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);


.header-menu-inner ul li a{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 10px;
    
     &:before,
      &:after {
          content: '';
          position: absolute;
          bottom: 50px;
          left: 18; right: 18;
          height: 3px;
          background-color: rgba(0, 0, 0, 0.9);
      }
      &:before {
          opacity: 0;
        //   transform: translateY(- $distance);
        //   transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
          opacity: 0;
        //   transform: translateY($distance/2);
        //   transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:hover,
      &:focus {
          &:before,
          &:after {
              opacity: 1;
              transform: translateY(0);
          }
          &:before {
              transition: transform $duration $easeOutBack, opacity $duration;
          }
          &:after {
              transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
          }
      }
  }
  li img{
      height: 21px;
      position: relative;
    //   top: 5px;
  }

.header-menu-inner ul #menu-item-89 > a{
    color:white;
    background: black;
    text-transform: initial;
    height: 0%;
    padding: 20px 40px;
    bottom:-50px;
}
////// BANDEAU ////// 

.bandeau{
    display: flex;
}
.bandeau-img-left{
    width: 50%;
}
.bandeau-img-right{
    width: 50%;
}
.bandeau img{
    max-width:100%;
    max-height:100%;
}
// .bandeau-titre-g{
// 	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
// 	position: relative;
// 	height: 150px;
// 	font-family: "proxima-nova", sans-serif;
// 	top: -10%;
// 	left: 210px;
// 	background: white;
// 	width: 603px;
// }
// .bandeau-titre-g h1{
// 	display: flex;
// 	justify-content: center;
// 	vertical-align: middle;
// 	background: red;
// } 