@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@font-face {
    font-family: 'Proxima';
    // font-style: normal;
    // font-weight: normal;
    src: url('../font/ProximaNova-Regular.otf') format('opentype');
}
.header-menu{
    width: 70%;
    margin: 0 auto;
}
.header-menu-inner{
    display: flex;
    justify-content: space-between;
    // background: rgb(197, 197, 207);
    height: 135px;
    
    /* align-items: flex-end; */
}
.header-menu-inner ul{
    /* height: 100%; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* align-content: center; */
}

.header-menu-inner ul li a{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 18px;
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: 0.6px;
    font-family: "proxima_novaregular";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    font-family: 'Proxima';
    background: red;
}

.header-menu-inner a span:after{    
    bottom: -15px;
    content: "";
    display: block;
    height: 3px;
    position: relative;
    background: rgba(0, 0, 0, 0.9);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0%;
    background: green;
}

a:hover span:after { 
    width: 100%; 
    // left: 0; 
    background: green;
}