// @import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@font-face {
    font-family: 'Proxima';
    // font-style: normal;
    // font-weight: normal;
    src: url('../font/ProximaNova-Regular.otf') format('opentype');
    src: url('../font/ProximaNova-Bold.otf') format('opentype');
}

.res-menu, .header-menu{
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
}
@media screen and (min-width: 1227px){
.header-menu{
    // position: fixed;
    // top: 0px;
    // left: 0px;
    // transition: transform 0.6s;

    max-width: 1500px;
    padding: 0 70px;
    margin: 0 auto;
}
.header-menu-inner{
    display: flex;
    justify-content: space-between;
    height: 135px;
        ul{
        display: flex;
        }
        li a{
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0px 18px;
            color: rgba(0, 0, 0, 0.9);
            letter-spacing: 0.6px;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            font-family: 'Proxima';
        }
}

.header-menu-inner ul li:not(#menu-item-89) a{
    position: relative; //peut etre inutile ??
    text-transform: uppercase;
    &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 50px;
        left: 18; right: 18;
        height: 3px;
        background-color: rgba(0, 0, 0, 0.9);
        width: 0;
    }

    &:hover,
    &:focus {
        &:before,
        &:after {
            width: calc(100% - 36px);
            transition: width 0.2s, opacity 0.5s, background 0.3s, transform 0.6s;
        }
    }
}
.header-menu-inner ul li img{
      height: 21px;
      position: relative;
}
.header-menu-inner ul #menu-item-89{
    display: flex;
    align-items: center;
}
.header-menu-inner ul #menu-item-89 > a{
    font-weight: 700;
    text-transform: none;
    color:white;
    background: black;
    font-size: 17px;
    height: 49px;
        svg{
            fill: white;
            margin-left: 20px;
            width: 16px;
    }
    &:hover{
        color:black;
        background: white;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        svg{
            fill: black;
            width: 16px;
        }
    }
}
.burger{
    display: none;
}
.res-menu{
    display:none;
}

}







@media screen and (max-width: 1226px){
    body{
        position: relative;
        overflow-x: hidden;
    }
    .header-menu{
        width: 100%;
        margin: 0 auto;
        padding: 0px 0px 0px 6%;
    }
    
    ///////// WISHLIST /////////
    .header-menu-inner ul #menu-item-89{
        display: flex;
        align-items: center;
        margin-right: 35px;
    }
    .header-menu-inner ul #menu-item-89 > a{
        font-weight: 700;
        text-transform: none;
        color:white;
        background: black;
        font-size: 17px;
        height: 49px;
            svg{
                fill: white;
                margin-left: 20px;
                width: 16px;
        }
        &:hover{
            color:black;
            background: white;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
            svg{
                fill: black;
                width: 16px;
            }
        }
    }
    //////// FIN WISHLIST ///////////

    .header-menu-inner{
        display: flex;
        justify-content: flex-end;
        height: 85px;
        align-items: center;
        ul{
            display: flex;
            }
        img{
            position: absolute;
            left: 8%;
        }
    }
    .header-menu-inner ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        li a{
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0px 18px;
                color: rgba(0, 0, 0, 0.9);
                letter-spacing: 0.6px;
                text-decoration: none;
                font-family: 'Proxima';
            }
        li:not(#menu-item-89){
            display: none;
        }
    }
    .burger{
        display: flex;
        cursor: pointer;
        height: 100%;
        .lines{
            margin: auto auto;
            width: 85px;
            z-index: 99;
            div{
                transition: all 0.3s ease;
                height: 3px;
                background: black;
                width: 16px;
                margin: 5px auto;
                &:nth-of-type(3){
                    width: 10px;
                    position: relative;
                    left: 3px;
                }
            }
        }
        h5{
            color: rgba(0, 0, 0, 0.9);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 0.5px;
            align-self: center;
            font-family: 'Proxima';
            // margin-right: 85px;
        }
    }
    .res-menu{
        position: absolute;
        right: 0;
        width: 30%;
        top: 0;
        background: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(calc(100% + 1px));
        transition: transform 0.5s ease-in;
        ul{
            width: 100%;
            padding-left: 30px;
            padding-right: 50px;
            li{
                opacity: 0;
                height: 58px;
                a{
                    position: absolute;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: white;
                    font-size: 11.5px;
                    font-family: 'Proxima', sans-serif;
                    line-height: 1.5;
                    font-weight: 700;
                    padding: 20px 0;
                    height: 100%;
                    width: 100%;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    &:hover {
                        text-decoration: underline;
                      }
                }
                &:nth-of-type(6) a{ //remove second to last border-bottom
                    border-bottom: 0px;
                }
                &:first-of-type{ // "LA MAISON DE LA FEMME" (IT Crowd 1.03)
                    height: 85px;
                    display: flex;
                    margin-left: -30px; // sorry not sorry
                    a{
                        background: black;
                        height: 85px;
                        width: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-bottom: none; // counter
                    }
                    img{
                        filter: invert(100%) sepia(14%) saturate(2%) hue-rotate(60deg) brightness(103%) contrast(101%);
                        width: 20px;
                        height: 20px;
                    }
                }
                &:last-of-type{
                    display: flex;
                    align-items: center;
                    margin: 40px 0;
                    a{
                        display: flex;
                        padding: 16px 18px;
                        width: initial; //counter
                        letter-spacing: 0.6px; //counter
                        border-bottom: 0px; //counter
                        line-height: 100%;
                        font-weight: 700;
                        text-transform: none;
                        color:black;
                        background: white;
                        font-size: 14px;
                        height: 48px;
                            svg{
                                fill: black;
                                margin-left: 20px;
                                width: 16px;
                            }
                    &:hover{
                        text-decoration: none;
                        color:white;
                        background: black;
                        border: 1px rgba(136, 136, 136, 0.582) solid;
                        svg{
                            fill: white;
                            width: 16px;
                        }
                    }
                }
                }
            }
        }
    }
    .nav-active{
        transform: translateX(0%);
    }
    @keyframes fading{
        from{
            opacity: 0;
            transform: translateX(300px); //50px
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-3.2px, 6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-7px, -6px) scalex(1.625);
    }
    .toggle .lines div{
        background: white;
    }
}